{% extends "base.html" %}
    
{% block title %}Jadwal Kegiatan{% endblock %}

{% block content %}
<br><br><br>
<table class="table">
    <thead class="table_header">
        <th>Nama Kegiatan</th>
        <th>Tempat</th>
        <th>Jadwal</th>
        <th>Kategori</th>
    </thead>
    <tbody>
        {% for kegiatan in daftar_kegiatan %}
        <tr>
            <td> {{kegiatan.kegiatan}} </td>
            <td> {{kegiatan.tempat}} </td>
            <td> {{kegiatan.jadwal|date:"l"}}, {{kegiatan.jadwal}} </td>
            <td> {{kegiatan.kategori}} </td>
        </tr>             
        {% endfor %}
    </tbody>
</table>

<br>
<div class="center_button">
    <a class="submit delete_all" href="/register/hapus_kegiatan">Hapus Semua</a>
</div>

{% endblock %}

