{% extends "base.html" %}

{% block title %}Tambah Jadwal{% endblock %}

{% block content %}
<br><br><br>
<div class="formulir">
    <h3>Tambah Jadwal</h3>

    <div class="container">
        <form id="form" method="POST" action="{% url 'register:tambah_kegiatan' %}">
            {% csrf_token %}
            {{ jadwal_form }}
            <br>
            <button type="submit" class="submit">Tambah</button>
        </form>
    </div>
</div>
{% endblock %}