body {
    margin: 0;
    background-color: orange;
    font-family: Arial, Helvetica, sans-serif;
}

.topnav {
    background-color: #FCEE26;
    overflow: hidden;
}

.topnav a {
    float: left;
    color: black;
    text-align: center;
    padding: 25px 65px;
    text-decoration: none;
    font-size: 25px;
}

.topnav a:hover {
    background-color: #EAD848;
}

.topnav a.active {
    background-color: #FA6D29;
    color: white;
}

.topnav a.brand {
    background-color: #FCEE26;
    font-weight: bold;
}

.topnav-right {
    float: right;
}

.logo {
    position: absolute;
    left: 0px;
    top: 0px;
    transform: translate(40%, 10%);
    max-width: 50%;
    height: auto;
}

.split {
    float: left;
    padding: 10px;
    text-align: center;
    transform: translate(0%, 15%);
}

.left {
    width: 60%;
    transform: translate(0%, 25%);
}

.right {
    width: 40%;
    transform: translate(0%, 8%);
}

.profil {
    border: 5px solid red;
    /*width: 40%;
    height: 40%;*/
    max-width: 50%;
    height: auto;
}

.box {
    background-color: #FCEE19;
    font-size: 25px;
    /*width: 55%;*/
    max-width: 50%;
    height: auto;
    border: 5px solid red;
    padding: 10px;
    margin: auto;
}

.info {
    background-color: #FCEE19;
    border: 5px solid red;
    font-size: 18px;
    text-align: left;
    padding: 10px;
    max-width: 70%;
    height: auto;
    margin: auto;
}

* {
    box-sizing: border-box;
}

.column {
    float: left;
    width: 33.33%;
    padding: 10px;
    text-align: center;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

@media screen and (max-width: 1080px) and (min-width: 420px) {
    .logo {
        visibility: hidden;
    }
}

@media screen and (max-width: 480px) {
    .logo {
        position: absolute;
        left: 0px;
        top: 0px;
        transform: translate(100%, 10%);
        height: auto;
    }
}

@media screen and (max-width: 960px) {
    .split {
        width: 100%;
    }
    .column {
        width: 100%;
    }
    .info {
        width: 100%;
    }
    .navbar {
        width: 100%;
    }
    
    .box {
        width: 100%;
    }
    .profil {
        width: 100%;
    }
}

.portofolio {
    margin: auto;
    background-color: #FCEE19;
    font-size: 25px;
    text-align: left;
    height: 400px;
    width: 75%;
    border: 5px dashed #8492A6;
    padding: 20px;
}

input, select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}

.container {
    border-radius: 5px;
    background-color: orange;
    padding: 20px;
}

.formulir {
    margin: auto;
    padding: 10px;
    width: 50%;
    position: absolute;
    z-index: 1;
    transform: translate(50%, 0%);
}