{% extends "base.html" %}

{% block title %}Selamat datang!{% endblock %}

{% block content %}
<div class="tentang">
    <div class="split left">
        <h2>HALO, SAYA ADLI</h2>
        <div class="box">
            <p>Saya seorang Mahasiswa Fakultas Ilmu Komputer dari Universitas Indonesia. Saya
                Merupakan programmer web junior.
                <br><br>
                Ini merupakan website pertama saya. Enjoy it:)</p>
        </div>
    </div>
    <div class="split right">
        {% load static %}
        <img class="profil" src="{% static 'profil/image.jpg' %}" alt="adli daffa">
        <h2>INFO</h2>
        <div class="info">
            <p><b>Mohammad Adli Daffa</b><br><br>
                - Umur: 19 Tahun<br>
                - Berkuliah di: Universitas Indonesia<br>
                - Hobi: Koding</p>
        </div>
    </div>
</div>
{% endblock %}