body {
    margin: 0;
    background-color: orange;
    font-family: Arial, Helvetica, sans-serif;
}

.topnav {
    background-color: #FCEE26;
    overflow: hidden;
}

.topnav a {
    float: left;
    color: black;
    text-align: center;
    padding: 25px 65px;
    text-decoration: none;
    font-size: 25px;
}

.topnav a:hover {
    background-color: #EAD848;
}

.topnav a.active {
    background-color: #FA6D29;
    color: white;
}

.topnav a.brand {
    background-color: #FCEE26;
    font-weight: bold;
}

.topnav-right {
    float: right;
}

.logo {
    position: absolute;
    left: 0px;
    top: 0px;
    transform: translate(40%, 10%);
    max-width: 50%;
    height: auto;
}

.split {
    float: left;
    padding: 10px;
    text-align: center;
    transform: translate(0%, 15%);
}

.left {
    width: 60%;
    transform: translate(0%, 25%);
}

.right {
    width: 40%;
    transform: translate(0%, 8%);
}

.profil {
    border: 5px solid red;
    /*width: 40%;
    height: 40%;*/
    max-width: 50%;
    height: auto;
}

.box {
    background-color: #FCEE19;
    font-size: 25px;
    /*width: 55%;*/
    max-width: 50%;
    height: auto;
    border: 5px solid red;
    padding: 10px;
    margin: auto;
}

.info {
    background-color: #FCEE19;
    border: 5px solid red;
    font-size: 18px;
    text-align: left;
    padding: 10px;
    max-width: 70%;
    height: auto;
    margin: auto;
}

* {
    box-sizing: border-box;
}

.column {
    float: left;
    width: 33.33%;
    padding: 10px;
    text-align: center;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.portofolio {
    margin: auto;
    background-color: #FCEE19;
    font-size: 25px;
    text-align: left;
    height: 400px;
    width: 75%;
    border: 5px dashed #8492A6;
    padding: 20px;
}

@media screen and (max-width: 960px) and (min-width: 720px) {
    .logo {
        visibility: hidden;
    }
}

@media screen and (max-width: 720px) {
    .logo {
        position: static;
        left: 0px;
        top: 0px;
        transform: translate(60%, 10%);
        height: auto;
    }
    .tentang {
        display: grid;
        grid-row-gap: 100px;
        grid-template-columns: auto;
    }
    .topnav a {
        width: 100%;
        margin: auto;
    }
    .topnav-right {
        width: 100%;
    }
}

@media screen and (max-width: 1200px) {
    .portofolio {
        font-size: 22px;
    }
}

@media screen and (max-width: 720px) {
    .split {
        width: 100%;
    }
    .column {
        width: 100%;
    }
    .info {
        width: 100%;
    }
    .navbar {
        width: 100%;
    }
    .box {
        width: 100%;
    }
    .profil {
        width: 100%;
    }
}

input, select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

.submit {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
}

.submit:hover {
    background-color: #45A049;
}

.container {
    border-radius: 5px;
    background-color: orange;
    padding: 20px;
}

.formulir {
    margin: auto;
    padding: 10px;
    width: 50%;
}

@media screen and (max-width: 720px) {
    .formulir {
        width: 80%;
    }
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    margin: auto;
}

th, td {
    padding: 15px;
    text-align: center;
}

.table {
    background-color: white;
}

.table_header {
    background-color: #FA6D29;
}

.center_button {
    display: flex;
    justify-content: center;
}

.delete_all {
    background-color: red;
    float: none;
    font-size: 15px;
    text-decoration: none;
}

.delete_all:hover {
    background-color: #FA6D29;
}