{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Selamat datang!{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'profil/style.css' %}">
</head>

<body>
    <div class="logo">
        <img src="{% static 'profil/logo.png' %}" alt="home" href="#tentang" width="75%" height="75%">
    </div>
    <br><br><br>
    <nav class="navbar">
        <div class="topnav">
            <div class="topnav-right">
                {% with request.resolver_match.url_name as url_name %}
                <a class="{% if url_name == 'profil' %}active{% endif %}" href="/profil">Tentang</a>
                <a class="{% if url_name == 'portofolio' %}active{% endif %}" href="/portofolio">Portofolio</a>
                <a class="{% if url_name == 'register' %}active{% endif %}" href="/register">Tambah Jadwal</a>
                <a class="{% if url_name == 'jadwal_kegiatan' %}active{% endif %}" href="/register/jadwal_kegiatan">Jadwal Kegiatan</a>
                {% endwith %}
            </div>
        </div>
    </nav>

    {%block content %}{% endblock %}
    
</body>
</html>