{% extends "base.html" %}

{% block title %}Portofolio{% endblock %}

{% block content %}
<br><br>
<div class="row">
    <div class="column">
        <h2>Bahasa Pemrograman</h2>
        <div class="portofolio">
            <p> - Python<br><br>
                - C / C++<br><br>
                - Java<br><br>
                - HTML</p>
        </div>
    </div>
    <div class="column">
        <h2>Riwayat Pendidikan</h2>
        <div class="portofolio">
            <p> - SDN 03 Tanjung Barat<br><br>
                - SMPN 20 Jakarta<br><br>
                - SMAN 67 Jakarta<br><br>
                - Universitas Indonesia</p>
        </div>
    </div>
    <div class="column">
        <h2>Aktivitas</h2>
        <div class="portofolio">
            <p> - Penanggun jawab Ayo Berinfaq ,Sospol Fuki<br><br>
                - Junior Member Competitive programming, Ristek Fasilkom UI<br><br>
                - Asisten dosen Matematika Dasar 1</p>
        </div>
    </div>
</div>
{% endblock %}